In [1]:
import pandas as pd

In [2]:
# read earthquake:
# a) count 'magType' (ml) & 'type' (explosion)
# b) calculate mean(mag) in (Alaska & distance < 100km)
# c) calculate mean(mag) in each quarter (q1:m1-m3, q2:m4-m6, q3:m7-m9, q4: m10-m12), the 'time' field stores the milliseconds from 1/1/1970, hint: timestamp.

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data /earthquakes (1).csv')
df.head(n=2)

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...

[2 rows x 26 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alert    59 non-null     object
 1   cdi      329 non-null    float64
 2   code     9332 non-null   object
 3   detail   9332 non-null   object
 4   dmin     6139 non-null   float64
 5   felt     329 non-null    float64
 6   gap      6164 non-null   float64
 7   ids      9332 non-null   object
 8   mag      9331 non-null   float64
 9   magType  9331 non-null   object
 10  mmi      93 non-null     float64
 11  net      9332 non-null   object
 12  nst      5364 non-null   float64
 13  place    9332 non-null   object
 14  rms      9332 non-null   float64
 15  sig      9332 non-null   int64
 16  sources  9332 non-null   object
 17  status   9332 non-null   object
 18  time     9332 non-null   int64
 19  title    9332 non-null   object
 20  tsunami  9332 non-null   int64
 21  type     9332 non-null   object
 22  types    9332 non-null   object
 23  tz       9331 non-null   float64
 24  updated  9332 non-null   int64
 25  url      9332 non-null   object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.9+ MB

In [5]:
# a)
len(df[(df['magType'] == 'ml') & (df['type'] == 'explosion')])

79

In [9]:
# b)
dk = df[(df['place'].str.contains('Alaska')) &~ (df['place'].str.contains('\d{3,}',regex = True))]
dk.mag.mean()

1.3744199088678577

In [ ]:
# c)